body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    max-width: 600px;
    width: 90%;
    margin: auto;
    margin-top: 50px auto;
}

input, button {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
}

.employee {
    background: white;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
} 
.controls input {
    flex: 1;
}
.controls button {
    width: 150px;
}